/* Подсветка сетки */

body {
    /* Раскомментировать для index.html */
    /*background-image: url('../img/nerds-index-grid.jpg');*/

    /* Раскомментировать для shop.html */
    /*background-image: url('../img/nerds-shop-grid.jpg');*/

    background-size: 1440px;
    background-repeat: no-repeat;
    background-position: center top;
}

body > * { /* 1-й уровень */
    outline-style: solid;
    outline-width: thin;
    outline-color: yellow;
}

body > *  > * { /* 2-й уровень */
    outline-style: dotted;
    outline-width: thin;
    outline-color: blue;
}

body > * > * > * { /* 3-й уровень */
    outline-style: solid;
    outline-width: thin;
    outline-color: red;
}

body > * > * > * > * { /* 4-й уровень */
    outline-style: dotted;
    outline-width: thin;
    outline-color: green;
}

body > * > * > * > * > * { /* 5-й уровень */
    outline-style: solid;
    outline-width: thin;
    outline-color: purple;
}

.header-wrapper,
.map-wrapper,
.map-address,
.page-title,
.catalog-list {
    opacity: 0.5;
}
