html, body {
    margin: 0;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

a {
    text-decoration: none;
}

.site-navigation {
    line-height: 30px;
    text-transform: uppercase;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    color: #FB565A;
}

.site-navigation a:active,
.user-navigation a:active {
    color: #000000;
    opacity: 0.3;

}

.site-navigation,
.user-navigation {
    list-style: none;
}

.site-navigation-current a {
    display: inline-block;
    line-height: 30px;
    border-bottom: 2px solid #FB565A;
}

.user-navigation {
    text-transform: uppercase;
}

.button {
    display: block;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
}

.catalog-popup-button {
    padding-top: 17px;
    padding-bottom: 17px;
    width: 200px;
    display: block;
    color: #FFFFFF;
    background-color: #FB565A;
}

/* index.html */

.service-item h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.service-item p {
    font-weight: 400;
    line-height: 24px;
    color: #283136;

}

.service-item-button {
    width: 160px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #FFFFFF;

}

.pink {
    background-color: #FB565A;
}

.pink:hover,
.pink:focus {
    background-color: #E74246;
}

.pink:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #D7373B;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.green {
    background-color: #00CA74;
}

.green:hover,
.green:focus {
    background-color: #00BC6C;
}

.green:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #00AA62;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.yellow {
    background-color: #EFC84A;
}

.yellow:hover,
.yellow:focus {
    background-color: #EAB534;
}

.yellow:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #E5A722;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

/* shop.html */

.page-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.filter ul {
    list-style: none;
    font-weight: 400;
    line-height: 20px;
}

.filter ul {
    text-transform: none;
}

.filter li {
    margin: 10px 0;
}

.filter-input + label,
.filter-input + label {
    color: #283136;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #283136;
}

.filter-input:disabled + label {
    opacity: 0.3;
}

.filter-button {
    width: 260px;
    min-height: 50px;
    line-height: 18px;
    color: #000000;
    background-color: #EEEEEE;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #DFDFDF;
}

.filter-button:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #D5D5D5;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.main-header {
    background-color: #EEEEEE;
}

.catalog-popup-caption a {
    color: #000000;
}

.catalog-popup-caption {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    color: #666666;
}

.catalog-popup {
    font-weight: 400;
    color: #666666;
    background-color: #EEEEEE;
}

.catalog-popup-button {
    width: 200px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #FFFFFF;
    background-color: #FB565A;
}

.catalog-popup-button:hover,
.catalog-popup-button:focus {
    background-color: #E74246;
}

.catalog-popup-button:active {
    color: #FFFFFF;
    background-color: #D7373B;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.main-footer p:first-of-type {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.main-footer span {
    font-weight: 400;
    line-height: 22px;
    color: #444444;
}

/* Modal-form */

.modal {
    /* box-shadow: 0 20px 40px 0 #5E5E5E; */
}

.modal h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.send-us-form input[type="text"],
.send-us-form input[type="email"],
.send-us-form textarea {
    color: #444444;
    border: 2px solid #D7DCDE;
    outline: none;
}

.send-us-form input[type="text"]:hover,
.send-us-form input[type="email"]:hover,
.send-us-form textarea:hover {
    outline: none;
    border: 2px solid #B4B9BB;
}

.send-us-form input[type="text"]:focus,
.send-us-form input[type="email"]:focus,
.send-us-form textarea:focus {
    color: #000000;
    border: 2px solid #000000;
}

.send-us-form input::placeholder,
.send-us-form textarea::placeholder {
    font-weight: 400;
}

.send-us-form input[type="email"]:invalid {
    color: #E74246;
    border-color: #E74246;
}

.send-us-form-button {
    width: 260px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #FFFFFF;
    background-color: #FB565A;
}

.send-us-form-button:hover,
.send-us-form-button:focus {
    background-color: #E74246;
}

.send-us-form-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #D7373B;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}
