html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Старт: сеточные стили */

.header-wrapper,
.map-wrapper,
.page-wrapper {
    width: 100%;
}

.header-wrapper {
    padding-top: 49px;
}

.header-container,
.header-site-nav,
.header-user-nav,
.map-wrapper {
    display: flex;
}

.header-container,
.page-title,
.slider-container,
.main-container,
.map-container,
.footer-social {
    width: 1160px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header-logo {
    margin-right: 202px;
}

.header-logo:hover,
.header-logo:focus {
    opacity: 0.8;
}

.header-logo:active {
    opacity: 0.3;
}

.header-site-nav {
    flex-basis: 438px;
    justify-content: start;
    flex-wrap: wrap;
}


/* ul: сбросить отступы и дефолтный стиль */
.header-site-nav,
.header-user-nav {
    margin-top: 26px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.header-site-nav li:not(:last-child) {
    margin-right: 45px;
}

.header-user-nav {
    margin-left: auto;
}

.service,
.service-item {
    display: flex;
    justify-content: space-between;
}

.service {
    margin-top: 80px;
    padding-right: 60px;
    padding-bottom: 80px;
}

/* ul: сбросить отступы и дефолтный стиль */
.service-item {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.service-item {
    justify-content: space-between;
}

.service-item li {
    flex-basis: 300px;
}

.service-item h3,
.service-item p {
    margin: 0;
}

.service-item img {
    padding-bottom: 22px;
}

.service-item h3 {
    padding-bottom: 16px;
}

.service-item p {
    width: 280px;
    padding-bottom: 32px;
}

/* Конец: сеточные стили */

.header-wrapper {
    background-color: #EEEEEE;
}

.header-site-nav,
.header-user-nav,
.header-site-nav-current {
    line-height: 30px;
    text-transform: uppercase;
}

.header-site-nav a,
.header-user-nav a {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 4px;
    vertical-align: top;
    color: #000000;
}

.header-site-nav a:hover,
.header-site-nav a:focus,
.header-user-nav a:hover,
.header-user-nav a:focus {
    color: #FB565A;
}

.header-site-nav a:active {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid #FB565A;
}

.header-user-nav a:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-site-nav,
.header-user-nav {
    list-style: none;
}

.header-site-nav-current a {
    color: #000000;
    border-bottom: 2px solid #FB565A;
}

.button {
    display: block;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
}

.catalog-popup-button {
    padding-top: 17px;
    padding-bottom: 17px;
    width: 200px;
    display: block;
    color: #FFFFFF;
    background-color: #FB565A;
}

/* index.html */

.slider-container {
    /* Временно для сетки */
    min-height: 413px;
    margin-top: 15px;
}

.service-item h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.service-item p {
    font-weight: 400;
    line-height: 24px;
    color: #283136;
}

.service-item-button {
    width: 160px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #FFFFFF;
}

.pink {
    background-color: #FB565A;
}

.pink:hover,
.pink:focus {
    background-color: #E74246;
}

.pink:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #D7373B;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.green {
    background-color: #00CA74;
}

.green:hover,
.green:focus {
    background-color: #00BC6C;
}

.green:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #00AA62;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.yellow {
    background-color: #EFC84A;
}

.yellow:hover,
.yellow:focus {
    background-color: #EAB534;
}

.yellow:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #E5A722;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.main-offer {
    /* Временно для сетки */
    min-height: 525px;
    border-top: 2px solid #eeeeee;
}

.main-brands {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 80px;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.main-brands ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-brands li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-brands li {
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
}

.main-brands li:first-child {
    left: -15px;
    top: 7px;
}

.main-brands li:nth-child(2) {
    left: -5px;
    top: 2px;
}

.main-brands li:nth-child(3) {
    left: 5px;
    top: 2px;
}

.main-brands li:last-child {
    left: 15px;
    top: 5px;
}

.main-brands-item:not(:last-child) a::after {
    position: absolute;
    top: -5px;
    bottom: 0;
    right: -25px;
    margin-top: auto;
    margin-bottom: auto;
    content: "";
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
}

.main-brands-item:first-child a::after {
    top: -15px;
}

.main-brands img {
    opacity: 0.2;
}

.main-brands img:hover,
.main-brands img:focus {
    opacity: 1;
}

.main-brands img:active {
    opacity: 0.1;
}

.map-wrapper {
    display: flex;
    justify-content: center;
}

.map-container {
    position: absolute;
    z-index: 1;
}

.map-wrapper img {
    width: 100%;
    height: 416px;
    min-width: 1200px;
    margin: 0 auto;
}

.map-address {
    width: 219px;
    padding-top: 50px;
    padding-bottom: 47px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #ffffff;
}

.map-address b {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.map-address p {
    margin-top: 20px;
}

.map-address address {
    font-weight: 400;
    font-style: normal;
    color: #666666;
}

.map-address button {
    width: 219px;
    margin-top: 36px;
}

.map-wrapper {
    align-items: center;
}

/* shop.html */

/* Старт: сеточные стили */

.page-wrapper {
    background-color: #EEEEEE;
}

.page-title {
    padding-top: 72px;
    padding-bottom: 111px;
    text-align: center;
}

.filter-heading,
.filter-type,
.catalog-columns,
.catalog,
.catalog-list {
    display: flex;
}

.catalog {
    flex-wrap: wrap;
}

.filter-heading {
    padding-top: 59px;
    padding-bottom: 55px;
    text-transform: uppercase;
}

.filter-heading a {
    color: rgba(0, 0, 0, 0.3);
}

.filter-heading a:hover,
.filter-heading a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.filter-heading a:active,
.filter-type-current a:active {
    color: rgba(0, 0, 0, 1);
}

.filter-heading h3 {
    flex-basis: 360px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}

.filter-heading h3:last-of-type {
    margin-left: 40px;
}

.filter-heading ul {
    flex-basis: 360px;
    margin: 0;
    list-style: none;
}

.filter-type li {
    font-size: 14px;
    font-weight: 400;
}

.filter-type li:not(:first-child):not(:last-child) {
    padding-left: 25px;
}

.filter-type li:last-child {
    margin-left: 16px;
}

.filter-type li:nth-last-child(2) {
    margin-left: auto;
}

.catalog .catalog-list {
    justify-content: flex-end;
}

.catalog {
    padding-left: 140px;
}

.catalog-list {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}

.catalog-list li:nth-child(2n) {
    margin-left: 40px;
}

.catalog-list li:nth-last-child(1),
.catalog-list li:nth-last-child(2) {
    margin-bottom: 0;
}

/* Конец: сеточные стили */

.page-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.range-slider {
    /* Временно для сетки */
    min-height: 132px;
    margin-bottom: 53px;
}

/* Фильтр */

.filter-grid-group {
    margin-bottom: 30px;
}

.filter-features-group {
    margin-bottom: 30px;
}

.filter-grid-group,
.filter-features-group {
    padding: 0;
    border: none;
}


.filter legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.filter legend:first-of-type {
    margin-bottom: 17px;
}

.filter legend:last-of-type {
    margin-bottom: 15px;
}

.filter ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
    line-height: 20px;
}

.filter ul {
    text-transform: none;
}

.filter label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter li {
    margin-bottom: 19px;
    padding-left: 34px;
}

.filter-input + label,
.filter-input + label {
    color: #283136;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: 0;

    width: 25px;
    height: 25px;
    border-radius: 50%;

    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before {
    opacity: 1;
}

.filter-input-radio:checked + label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-input-radio:checked + label:hover::before,
.filter-input-radio:checked + label:focus::before {
    opacity: 1;
}


.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: 0;

    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before {
    opacity: 1;
}

.filter-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-input-checkbox:checked + label:hover::before,
.filter-input-checkbox:checked + label:focus::before {
    opacity: 1;
}


.filter-input:hover + label,
.filter-input:focus + label {
    color: #283136;
}

.filter-input:disabled + label {
    opacity: 0.3;
}

.filter-button {
    width: 260px;
    min-height: 50px;
    line-height: 18px;
    color: #000000;
    background-color: #EEEEEE;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #DFDFDF;
}

.filter-button:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #D5D5D5;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.catalog-list li {
    flex-basis: 360px;
    margin-bottom: 30px;
}

.catalog-list li {
    position: relative;
    padding-top: 40px;
}

.catalog-list li::before {
    position: absolute;
    content: "";
    width: 360px;
    height: 40px;
    top: 0;
    background-image: url("../img/browser.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.12;
    background-color: #ffffff;
}

.catalog-list li:hover::before {
    opacity: 1;
}

.catalog-list li:hover {
    box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.pagination-list {
    flex-basis: 760px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 56px 0;
    font-weight: 500;
    list-style: none;
}

.pagination-item a {
    display: block;
    padding: 17px 21px;
    color: #000000;
    background-color: #eeeeee;
    border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.pagination-item:not(:last-child) {
    margin-right: 10px;
}

.pagination-item:last-child a {
    padding-left: 77px;
    padding-right: 77px;
    text-transform: uppercase;
}

.pagination-item:last-child a:hover,
.pagination-item:last-child a:focus {
    background-color: #dfdfdf;
}

.pagination-item:last-child a:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    padding: 14px 18px;
    border: 3px solid #dbdbdb;
    box-shadow: none;
    background-color: #ffffff;
    cursor: default;
}

.catalog-popup-caption a {
    color: #000000;
}

.catalog-popup-caption {
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    color: #666666;
}

.catalog-popup {
    position: absolute;
    bottom: 0;
    width: 360px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 45px;
    font-weight: 400;
    text-align: center;
    color: #666666;
    background-color: #EEEEEE;
}

.catalog-popup p {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 30px;
}

.catalog-popup-button {
    width: 200px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #FFFFFF;
    background-color: #FB565A;
}

.catalog-popup-button:hover,
.catalog-popup-button:focus {
    background-color: #E74246;
}

.catalog-popup-button:active {
    color: #FFFFFF;
    background-color: #D7373B;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.footer-social {
    display: flex;
    margin: 68px auto;
}

.footer-social a {
    position: relative;
    display: inline-block;
    width: 79px;
    height: 79px;
    background-color: #e1e1e1;
    border-radius: 50%;
}

.footer-social ul {
    display: flex;
    width: 399px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-social li:nth-child(2) {
    margin-left: 10px;
}

.footer-social li:nth-child(3) {
    margin-left: 10px;
}

.footer-social a::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.vk-icon::after {
    width: 26px;
    height: 15px;
    background-image: url("../img/vk-icon.svg");
}

.fb-icon::after {
    width: 12px;
    height: 22px;
    background-image: url("../img/fb-icon.svg");
}

.in-icon::after {
    width: 21px;
    height: 21px;
    background-image: url("../img/in-icon.svg");
}

.footer-social a:hover,
.footer-social a:focus {
    background-color: #e74246;
}

.footer-social a:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}

.vk-icon:active::after,
.fb-icon:active::after,
.in-icon:active::after {
    opacity: 0.3;
}

.footer-discount {
    flex-grow: 1;
}

.footer-discount b {
    display: block;
    margin-top: 6px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}

.footer-discount span {
    line-height: 22px;
    color: #444444;
}

/* Modal-form */

.modal {
    /*display: none;*/
    box-sizing: border-box;
    position: fixed;
    bottom: 180px;
    left: 50%;
    width: 960px;
    z-index: 2;
    margin-left: -480px;
    padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 90px;
    background-color: #ffffff;
    box-shadow: 0 20px 40px 0 #5E5E5E;
}

.modal h2 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.modal-close {
    position: absolute;
    top: 70px;
    right: 90px;
    width: 21px;
    height: 21px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    outline: none;
    background-image: url("../img/close-cross.svg");
    opacity: 0.3;
    background-color: transparent;
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
}


.send-us-form input[type="text"],
.send-us-form input[type="email"],
.send-us-form textarea {
    color: #444444;
    border: 2px solid #D7DCDE;
    outline: none;
}

.send-us-form input[type="text"],
.send-us-form input[type="email"] {
    box-sizing: border-box;
    width: 360px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
}

.send-us-form textarea {
    box-sizing: border-box;
    width: 760px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.send-us-form input[type="text"]:hover,
.send-us-form input[type="email"]:hover,
.send-us-form textarea:hover {
    outline: none;
    border: 2px solid #B4B9BB;
}

.send-us-form input[type="text"]:focus,
.send-us-form input[type="email"]:focus,
.send-us-form textarea:focus {
    color: #000000;
    border: 2px solid #000000;
}

.send-us-form input::placeholder,
.send-us-form textarea::placeholder {
    font-weight: 400;
}

.send-us-form input[type="email"]:invalid {
    color: #E74246;
    border-color: #E74246;
}

.send-us-form-button {
    width: 260px;
    margin-top: 30px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #FFFFFF;
    background-color: #FB565A;
}

.send-us-popup-button {
    width: 219px;
}

.send-us-form-button:hover,
.send-us-form-button:focus {
    background-color: #E74246;
}

.send-us-form-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #D7373B;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

/* Декоративное оформление */

.header-user-nav li {
    position: relative;
    padding-left: 40px;
}

.header-user-nav li::before {
    position: absolute;
    top: 7px;
    left: 0;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-user-nav {
    padding-bottom: 7px;
}

.cart:active {
    border-bottom: 2px solid #FB565A;
}

.send-us-form {
    display: flex;
    flex-wrap: wrap;
}

.send-us-form label {
    display: block;
}

.send-us-name {
    margin-right: 40px;
}

.send-us-name label,
.send-us-email label,
.send-us-text label {
    margin-bottom: 10px;
}

.send-us-text {
    margin-top: 20px;
}