html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Старт: сеточные стили */

.header-wrapper,
.map-wrapper,
.page-wrapper {
    width: 100%;
    min-width: 1200px;
}

.header-wrapper {
    padding-top: 49px;
}

.header-container,
.header-site-nav,
.header-user-nav,
.map-wrapper {
    display: flex;
}

.header-container,
.page-title,
.slider-container,
.main-container,
.map-container,
.footer-social {
    width: 1160px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header-logo {
    margin-right: 202px;
}

.header-logo:hover,
.header-logo:focus {
    opacity: 0.8;
}

.header-logo:active {
    opacity: 0.3;
}

.header-site-nav {
    flex-basis: 440px;
    justify-content: start;
    flex-wrap: wrap;
}

/* ul: сбросить отступы и дефолтный стиль */
.header-site-nav,
.header-user-nav {
    margin-top: 26px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.header-site-nav li:not(:last-child) {
    margin-right: 45px;
}

.header-user-nav {
    margin-left: auto;
}

.service,
.service-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service {
    margin-top: 80px;
    padding-right: 60px;
    padding-bottom: 80px;
}

/* ul: сбросить отступы и дефолтный стиль */
.service-item {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.service-item {
    justify-content: space-between;
}

.service-item li {
    flex-basis: 300px;
}

.service-item h3,
.service-item p {
    margin: 0;
}

.service-item img {
    padding-bottom: 22px;
}

.service-item h3 {
    padding-bottom: 16px;
}

.service-item p {
    width: 280px;
    padding-bottom: 32px;
}

/* Конец: сеточные стили */

.header-wrapper {
    background-color: #EEEEEE;
}

.header-site-nav,
.header-user-nav,
.header-site-nav-current {
    line-height: 30px;
    text-transform: uppercase;
}

.header-site-nav a,
.header-user-nav a {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 4px;
    vertical-align: top;
    color: #000000;
}

.header-site-nav a:hover,
.header-site-nav a:focus,
.header-user-nav a:hover,
.header-user-nav a:focus {
    color: #FB565A;
}

.header-site-nav a:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-user-nav a:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-site-nav,
.header-user-nav {
    list-style: none;
}

.header-site-nav-current a {
    color: #000000;
    border-bottom: 2px solid #FB565A;
}

.button {
    display: block;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
}

.catalog-popup-button {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 200px;
    display: block;
    color: #FFFFFF;
    background-color: #FB565A;
}

/* index.html */

/* Старт: слайдер */

.slider-container {
    position: relative;
    background-color: #eeeeee;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
    width: 160px;
    height: 18px;
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-controls label {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border-radius: 50%;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-item {
    display: none;
    padding: 75px 0 80px 0;
}

.slider-item:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
}

.slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 25px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-item p {
    max-width: 430px;
    margin: 0;
    font-weight: 400;
    line-height: 24px;
    color: #283136;
}

.slider-container .button {
    display: block;
    width: 240px;
    padding: 15px 0;
    margin-top: 40px;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.slider-container .button:hover,
.slider-container .button:focus {
    background-color: #e74246;
}

.slider-container .button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* Конец: слайдер */


.service-item h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.service-item p {
    font-weight: 400;
    line-height: 24px;
    color: #283136;
}

.service-item-button {
    width: 160px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #FFFFFF;
}

.pink {
    background-color: #FB565A;
}

.pink:hover,
.pink:focus {
    background-color: #E74246;
}

.pink:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #D7373B;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.green {
    background-color: #00CA74;
}

.green:hover,
.green:focus {
    background-color: #00BC6C;
}

.green:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #00AA62;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.yellow {
    background-color: #EFC84A;
}

.yellow:hover,
.yellow:focus {
    background-color: #EAB534;
}

.yellow:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #E5A722;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.main-offer {
    border-top: 2px solid #eeeeee;
}

.main-offer {
    display: flex;
    margin-bottom: 45px;
}

.offer-description {
    flex-basis: 660px;
    flex-grow: 1;
    padding-right: 150px;
    font-weight: 400;
    line-height: 24px;
    color: #283136;
}

.offer-description p:first-child {
    margin-top: 72px;
    margin-bottom: 34px;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.offer-description p:nth-child(2) {
    margin-bottom: 38px;
}

.offer-description b {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 700;
    vertical-align: top;
    text-transform: uppercase;
}

.offer-description ul {
    margin: 3px;
    padding: 0;
    list-style: none;
}

.offer-description li {
    position: relative;
    padding-bottom: 25px;
    padding-left: 32px;
    padding-right: 0;
}

.offer-description li::before {
    position: absolute;
    content: "";
    top: 10px;
    left: -3px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.offer-facts {
    flex-basis: 365px;
    background-image: url("../img/img-facts.png");
    background-repeat: no-repeat;
    background-position: 50% 37px;
}

.offer-facts {
    padding-top: 282px;
}

.offer-facts p {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.offer-facts ul {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    padding: 0;
    list-style: none;
    color: #283136;
}

.offer-facts li {
    margin-top: 43px;
    font-weight: 400;
}

.offer-facts li:last-child {
    position: relative;
    right: -3px;
}

.offer-facts span {
    display: inline-block;
    margin-bottom: 34px;
    font-size: 45px;
    font-weight: 700;
    vertical-align: top;
    color: #000000;
}

.offer-facts sup {
    position: relative;
    top: -16px;
    font-size: 24px;
    vertical-align: bottom;
}

.main-brands {
    padding-top: 42px;
    padding-bottom: 44px;
    margin-bottom: 80px;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.main-brands ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-brands li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-brands li {
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
}

.main-brands li:first-child {
    left: -15px;
    top: 7px;
}

.main-brands li:nth-child(2) {
    left: -5px;
    top: 2px;
}

.main-brands li:nth-child(3) {
    left: 5px;
    top: 2px;
}

.main-brands li:last-child {
    left: 15px;
    top: 5px;
}

.main-brands-item:not(:last-child) a::after {
    position: absolute;
    top: -5px;
    bottom: 0;
    right: -25px;
    margin-top: auto;
    margin-bottom: auto;
    content: "";
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
}

.main-brands-item:first-child a::after {
    top: -15px;
}

.main-brands img {
    opacity: 0.2;
}

.main-brands img:hover,
.main-brands img:focus {
    opacity: 1;
}

.main-brands img:active {
    opacity: 0.1;
}

.map-wrapper {
    position: relative;
    display: flex;
    height: 416px;
    justify-content: center;
    background-color: #b5b5b5;
}

.map-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 416px;
    min-width: 1200px;
    margin: 0 auto;
}

.map-wrapper iframe {
    z-index: 20;
    width: 100%;
    min-width: 1200px;
    border: none;
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
}

.map-address {
    box-sizing: border-box;
    width: 319px;
    padding-top: 47px;
    padding-bottom: 45px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 55px;
    background-color: #ffffff;
}

.map-address b {
    display: inline-block;
    margin-bottom: 23px;
    font-size: 18px;
    font-weight: 700;
    vertical-align: top;
    line-height: 30px;
}

.map-address address {
    font-weight: 400;
    font-style: normal;
    color: #666666;
}


.map-address p {
    margin-top: 18px;
    font-weight: 400;
    font-style: normal;
    color: #666666;
}

.map-address button {
    width: 219px;
}

.map-wrapper {
    align-items: center;
}

/* shop.html */

/* Старт: сеточные стили */

.page-wrapper {
    background-color: #EEEEEE;
}

.page-title {
    padding-top: 72px;
    padding-bottom: 111px;
    text-align: center;
}

.filter-heading,
.filter-by-type,
.filter-by-order,
.catalog-columns,
.catalog,
.catalog-list {
    display: flex;
}

.filter-by-type {
    justify-content: flex-start;
    flex-wrap: wrap;
}

.filter-by-order {
    justify-content: flex-end;
    flex-grow: 1;
}

.catalog {
    flex-wrap: wrap;
    padding-left: 138px;
    padding-right: 2px;
}

.filter-heading {
    padding-top: 53px;
    padding-bottom: 50px;
    text-transform: uppercase;
}

.filter-heading a {
    color: rgba(0, 0, 0, 0.3);
}

.filter-heading a:hover,
.filter-heading a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.filter-heading a:active {
    color: rgba(0, 0, 0, 1);
}

a.filter-type-current {
    color: rgba(0, 0, 0, 1);
}

.filter-heading h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}

.filter-heading h3:first-of-type {
    margin-right: 285px;
    line-height: 30px;
}

.filter-heading h3:last-of-type {
    padding-top: 3px;
    margin-right: 266px;
}

.filter-heading ul {
    margin: 0;
    padding-top: 5px;
    padding-left: 0;
    list-style: none;
}

.filter-by-type li {
    font-size: 14px;
    font-weight: 400;
}

.filter-by-type li {
    padding-right: 26px;
}

.filter-by-order li:last-child {
    padding-left:12px;
}

.catalog  {

}

.catalog-list {
    justify-content: space-between;
}

.catalog-list {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}

/* Конец: сеточные стили */

.page-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

/* Старт: сложный фильтр */

.range-slider {
    margin-bottom: 54px;
}

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
}

.range-filter {
    width: 260px;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 13px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 20px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    font-size: 0;
}

.price-controls label {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 9px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

/* Конец: сложный фильтр */

/* Фильтр */

.filter-grid-group {
    margin-bottom: 27px;
}

.filter-features-group {
    margin-bottom: 30px;
}

.filter-grid-group,
.filter-features-group {
    padding: 0;
    border: none;
}

.filter fieldset {
    margin-left: 0;
}

.filter legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.filter legend:first-of-type {
    margin-bottom: 17px;
}

.filter legend:last-of-type {
    margin-bottom: 15px;
}

.filter ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
    line-height: 20px;
}

.filter ul {
    text-transform: none;
}

.filter label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter li {
    margin-bottom: 20px;
    padding-left: 36px;
}

.filter-input + label,
.filter-input + label {
    color: #283136;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before {
    opacity: 1;
}

.filter-input-radio:checked + label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-input-radio:checked + label:hover::before,
.filter-input-radio:checked + label:focus::before {
    opacity: 1;
}


.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: 0;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before {
    opacity: 1;
}

.filter-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-input-checkbox:checked + label:hover::before,
.filter-input-checkbox:checked + label:focus::before {
    opacity: 1;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #283136;
}

.filter-input:disabled + label {
    opacity: 0.3;
}

.filter-input-radio:focus + label::before,
.filter-input-radio:checked:focus + label::before,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:checked:focus + label::before {
    opacity: 1;
}

.filter-button {
    width: 260px;
    min-height: 50px;
    line-height: 18px;
    color: #000000;
    background-color: #EEEEEE;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #DFDFDF;
}

.filter-button:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #D5D5D5;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.catalog-list li {
    position: relative;
    flex-basis: 360px;
    margin-bottom: 30px;
    padding-top: 39px;
}

.catalog-list li::before {
    position: absolute;
    content: "";
    width: 360px;
    height: 40px;
    top: 0;
    background-image: url("../img/browser.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.12;
    background-color: #ffffff;
}

.catalog-list li:hover::before {
    opacity: 1;
}

.catalog-list li:hover {
    box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.pagination-list {
    flex-basis: 760px;
    display: flex;
    align-items: center;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 60px;
    padding-left: 0;
    font-weight: 500;
    list-style: none;
}

.pagination-item a,
.pagination-item a:link,
.pagination-item a:visited {
    display: block;
    padding: 17px 21px;
    color: #000000;
    background-color: #eeeeee;
    box-shadow: none;
    border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: #dfdfdf;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-item a:active {
    color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.pagination-item:not(:last-child) {
    margin-right: 10px;
}

.pagination-item:last-child a {
    padding-left: 79px;
    padding-right: 77px;
    text-transform: uppercase;
}

.pagination-item:last-child a:hover,
.pagination-item:last-child a:focus {
    background-color: #dfdfdf;
}

.pagination-item:last-child a:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    padding: 14px 18px;
    border: 3px solid #dbdbdb;
    box-shadow: none;
    background-color: #ffffff;
    cursor: default;
}

.catalog-popup-caption a {
    color: #000000;
}

.catalog-popup-caption {
    margin-top: 24px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    color: #666666;
}

.catalog-popup {
    /*visibility: hidden;*/
    position: absolute;
    bottom: 0;
    width: 360px;
    max-height: 580px;
    z-index: 100;
    align-items: center;
    overflow-y: auto;
    font-weight: 400;
    text-align: center;
    color: #666666;
    background-color: #EEEEEE;
}
.catalog-template {
    overflow: hidden;
}

.catalog-template:hover .catalog-popup {
    visibility: visible;
}

.catalog-popup p {
    width: 227px;
    margin: 0 auto;
}

.catalog-popup-button {
    width: 194px;
    margin-top: 33px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    color: #FFFFFF;
    background-color: #FB565A;
}

.catalog-popup-button:hover,
.catalog-popup-button:focus {
    background-color: #E74246;
}

.catalog-popup-button:active {
    color: #FFFFFF;
    background-color: #D7373B;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.footer-social {
    display: flex;
    margin: 68px auto;
}

.footer-social a {
    position: relative;
    display: inline-block;
    width: 79px;
    height: 79px;
    vertical-align: top;
    background-color: #e1e1e1;
    border-radius: 50%;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    width: 399px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-social li:nth-child(2) {
    margin-left: 12px;
}

.footer-social li:nth-child(3) {
    margin-left: 10px;
}

.footer-social a::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.vk-icon::after {
    width: 26px;
    height: 15px;
    background-image: url("../img/vk-icon.svg");
}

.fb-icon::after {
    width: 12px;
    height: 22px;
    background-image: url("../img/fb-icon.svg");
}

.in-icon::after {
    width: 21px;
    height: 21px;
    background-image: url("../img/in-icon.svg");
}

.footer-social a:hover,
.footer-social a:focus {
    background-color: #e74246;
}

.footer-social a:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}

.vk-icon:active::after,
.fb-icon:active::after,
.in-icon:active::after {
    opacity: 0.3;
}

.footer-discount {
    flex-grow: 1;
}

.footer-discount b {
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}

.footer-discount span {
    font-weight: 400;
    line-height: 22px;
    color: #444444;
}

/* Modal-form */

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }

    70% {
        transform: translateY(30px);
    }

    90% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.modal {
    display: none;
    box-sizing: border-box;
    position: fixed;
    bottom: 178px;
    left: 50%;
    width: 960px;
    z-index: 50;
    margin-left: -480px;
    padding-top: 68px;
    padding-bottom: 83px;
    padding-left: 98px;
    padding-right: 90px;
    background-color: #ffffff;
    box-shadow: 0 20px 40px 0 #5E5E5E;
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

.modal h2 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.modal-close {
    position: absolute;
    top: 79px;
    right: 90px;
    width: 21px;
    height: 21px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    outline: none;
    background-image: url("../img/close-cross.svg");
    opacity: 0.3;
    background-color: transparent;
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
}


.send-us-form input[type="text"],
.send-us-form input[type="email"],
.send-us-form textarea {
    color: #444444;
    border: 2px solid #D7DCDE;
    outline: none;
}

.send-us-form input[type="text"],
.send-us-form input[type="email"] {
    box-sizing: border-box;
    width: 360px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
}

.send-us-form textarea {
    box-sizing: border-box;
    width: 760px;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 15px;
}

.send-us-form input[type="text"]:hover,
.send-us-form input[type="email"]:hover,
.send-us-form textarea:hover {
    outline: none;
    border: 2px solid #B4B9BB;
}

.send-us-form input[type="text"]:focus,
.send-us-form input[type="email"]:focus,
.send-us-form textarea:focus {
    color: #000000;
    border: 2px solid #000000;
}

.send-us-form input::placeholder,
.send-us-form textarea::placeholder {
    font-weight: 400;
    opacity: 1;
}

.send-us-form input[type="email"]:invalid {
    color: #E74246;
    border-color: #E74246;
}

.send-us-form-button {
    width: 260px;
    margin-top: 25px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #FFFFFF;
    background-color: #FB565A;
}

.send-us-popup-button {
    margin-top: 36px;
    width: 219px;
}

.send-us-form-button:hover,
.send-us-form-button:focus {
    background-color: #E74246;
}

.send-us-form-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #D7373B;
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

/* Декоративное оформление */

.header-user-nav li {
    position: relative;
    padding-left: 40px;
}

.header-user-nav li::before {
    position: absolute;
    top: 7px;
    left: 0;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-user-nav {
    padding-bottom: 7px;
}

.send-us-form {
    display: flex;
    flex-wrap: wrap;
}

.send-us-form label {
    display: block;
}

.send-us-name {
    margin-right: 40px;
}

.send-us-name label,
.send-us-email label,
.send-us-text label {
    margin-bottom: 10px;
    font-weight: 700;
}

.send-us-text {
    margin-top: 19px;
}